*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Montserrat', sans-serif !important;
}
.container{
	width: 1240px;
}
h1{
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4.3px; 
}
header{
	height: 90px;
	padding-left: 15px;
	padding-right: 15px;
}
ul li{
	list-style: none;
	float: left;
}
.menu{
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.menu ul{
	// height: 70px;
	width: 100%;
}
.menu ul li{
	padding: 30px 10px 40px 20px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	position: relative;
}
.menu ul li a:after{
    content: '\f0d8';
    font-family: FontAwesome;
    padding-left: 0.5em;
    position: absolute;
    bottom: -9px;
    left: 40%;
    display: none;
    font-size: 22px;
}
.menu ul li:hover a:after{
	display: block;
}
.menu a{
	font-size: 14px;
	font-weight: bold;
	color: #535353;
    text-decoration: none;
}
.right ul li{
	float: right;
	padding: 30px 10px 40px 20px;
	margin-left: 5px;
}
.right a{
	color: #535353;
}
.slider{
	width: 100%;
	position: relative;
}
.slider img{
	width: 100%;
	height: 100%;
}
.shop-now{
	top:0;
	position: absolute;
	text-align: center;
	// left: 30%;
	top: 35%;
 	width: 100%;
}
.shop-now .title{
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 0;
}
.shop-now .text{
	font-family: 'Crimson Text', serif;
	font-size: 18px;
	color: #fff;
	font-style: italic;
}
p.now{
	margin: 0 auto;
	width: 120px;
	font-size: 12px;
	padding: 10px 10px 10px 10px;
	border: 1px solid #fff;
	margin-top: 40px;
}
.now a{
	color: #fff;
}
.banner{
	margin-bottom: 125px;
	margin-top: 60px;
}
.banner img{
	width: 100%;
	height: 100%;
}
.midder{
	left: 15%;
	width: 70%;
	position: absolute;
	top: 50%;
	text-align: center;
	border: 2px solid #fff;
	padding: 20px 0px 20px;
}
.banner .left p{
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 20px;
}
.banner .left p::after{
	content: '';
	position: absolute;
	border-color: #fff;
	border-style: solid;
	border-width: 2px;
	top: 50%;
	left:45%;
	width: 30px;
}
.banner .left span{
	font-family: 'Crimson Text', serif;
 	font-size: 18px;
	font-style: italic;
	color: #fff;
    letter-spacing: 0.5px;
}
.banner .right .margin-bottom{
	margin-bottom: 30px;
}
.banner .right p{
	position: absolute;
	font-size: 18px;
	font-weight: bold;
    top: 40px;
    left: 42px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 20px;
}
.banner .right p::after{
	content: '';
	position: absolute;
	display: inline-block;
	border-width: 2px;
	border-style: solid;
	top: -10px;
	left:0;
	width: 30px;
}



.block.new-product h1{
	background: url('images/new.png') no-repeat center;
	width: 100%;
	height: 70px;
	padding-top: 20px;
	margin-bottom: 100px;
	position: relative;
}
.block.new-product h1:before, .block.feature-product h1:before{
    border-bottom: 0.5px solid #ccc;
    bottom: -40px;
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
}
.block.new-product h1::after, .block.feature-product h1:after {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    bottom: -45px;
    content: "";
    height: 10px;
    left: 50%;
    position: absolute;
    width: 10px;
}
.product.grid{
	// overflow: hidden;
	padding-bottom: 40px;
	padding-top: 1px;
}
.product.grid ul li{
	margin-left: 20px;
}
.product.grid ul li:first-child{
	margin-left: 1px;
}
.cat{
	position: relative;
	border: 1px solid #ccc;
}
.hover{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	opacity: 0;
	background-color: rgba(0,0,0,0.65);
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.cat:hover .hover{
	opacity: 2;
}
.cat:hover .icon{
	opacity: 1;
}
.icon{
	position: absolute;
	bottom: 0;
    left: 40px;
    opacity: 0;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.icon ul li{
	list-style: none;
	float: left;
    padding: 10px 15px 10px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-left: none;
    margin-left: 0 !important;
}
.icon ul li:first-child{
	border-left: 1px solid #ccc !important;
}
.icon ul li:hover{
	background-color: #333333;
}
.icon ul li:hover .fa{
	color: #fff;
}
.name-price{
	text-align: center;
	margin-top: 20px;
	position: relative;
	padding-bottom: 20px;
}
.name-price a{
	font-size: 14px;
    padding-top: 5px;
	text-transform: uppercase;
	font-weight: bold;
	color: #696969;
	letter-spacing: 2px;
}
.name-price span{
	position: relative;
	top: 25px;
}
.star{
	position: absolute;
	left: 30%;
}
.star ul li{
	margin-left: 5px !important;
}

.banner-2{
	margin-top: 40px;
	position: relative;
	margin-bottom: 50px;
}
.banner-2 h1{
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 0px;
}

.banner-2 img{
	width: 100%;
}
.origi p{
	font-family: 'Crimson Text', serif;
	font-size: 16px;
	font-style: italic;
}
.origi{
    left: 0;
    max-width: 63%;
    position: absolute;
    text-align: center;
    right: 0;
    top: 40%;
    margin: 0 auto;
}
.origi span{
	font-size: 12px;
	padding: 10px 22.5px 10px 22.5px;
	border: 2px solid #ccc;
	text-transform: uppercase;
}
.block.feature-product h1{
	background: url('images/feature.png') no-repeat center;
	width: 100%;
	height: 70px;
	padding-top: 20px;
	margin-bottom: 100px;
	position: relative;
}
.block.feature-product{
	text-align: center;
}

.block.feature-product ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: flex;
	display: inline-block;
}
.block.feature-product ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}
.block.feature-product ul.tabs li.current{
	color: #222;
}
.block.feature-product .tab-content{
	display: none;
	padding: 15px;
}
.block.feature-product .tab-link span{
	color: #ccc;
	text-transform: uppercase;
	font-size: 14px;
}
.block.feature-product .tab-link.current span{
	color:#000;
}
.block.feature-product .tab-content.current{
	display: inherit;
}
.singup{
	width: 100%;
	height: 300px;
	background-color: #f5f5f6;
    padding-top: 10%;
}
.newfeed{
	max-width: 80%;
	margin: 0 auto;
}
.singup .left{
	float: left;
	margin-left: 15%;
	width: 60%;
}
.singup .left h2{
	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
}
.singup .left p{
	font-family: 'Crimson Text', serif;
	font-size: 16px;
	font-style: italic;
}
.singup .right{
	float: left;
}
.singup .right p{
    padding: 15px 50px 15px 50px;
    background-color: #333333;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}
footer{
	background-color: #333333;
	padding-top: 135px;
	padding-bottom: 105px;
}
.footer h3, .subcribe h3{
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bold;
	margin-bottom: 25px;
}
.block.footer{
	float: left;
}
.block.footer ul li{
	float: none;
	position: relative;
}
.block.footer ul li a{
	font-size: 13px;
	color: #ccc;
	text-transform: capitalize;
	text-decoration: none;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.block.footer ul li a::before {
    content: "\f105";
    display: block;
    font-family: FontAwesome;
    height: 20px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 2px;
    width: 20px;
    color: #fff;
}
.block.footer ul li a:hover {
    padding-left: 12px;
    color: #fff;
}
.block.footer ul li a:hover::before{
    opacity: 1;
    transition: all 0.5s ease-in-out 0s;
}
.block.subcribe ul li{
    border: 2px solid #949494;
    height: 40px;
    margin-right: 10px;
    padding-top: 8px;
    text-align: center;
    width: 40px;
}
.block.subcribe .fa{
	font-size: 22px;
	color: #999594;
}
.block.subcribe ul li:hover{
	background-color: #fff;
}
.block.subcribe ul li:hover .fa{
	color: #000;
}
.col1{
	width: 26.3%;
}
.col2{
	width: 26%;
}
.col3{
	width: 26.6%;
}
.col4{
	width: auto;
}
.copyright{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #2c2c2c;
	text-align: center;
}
.copyright p{
	color: #ccc;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.8px;
}
.copyright span{
	color: #fff;
}
.animated  {
  -webkit-animation-duration : 3s  ;
  animation-duration : 3s  ;

  -webkit-animation-delay : 500ms  ;
  animation-delay : 500ms  ;
}

.animate-out {
  -webkit-animation-delay : 0ms  ;
  animation-delay : 0ms  ;
}

.slide .owl-nav .owl-prev{
    position: absolute;
    bottom: 0;
    margin-top: -20px;
    right: 38px !important;
    font-size: 0;
    height: 35px;
    width: 35px;
    background-color: #eeedf0;
}
.slide .owl-nav .owl-prev:after{
	content: '\f104';
	font-family: FontAwesome;
	position: absolute;
	font-size: 20px;
    font-size: 23.5px;
    color: #fff;
    left: 34%;
}
.slide .owl-nav .owl-next{
    position: absolute;
    bottom: 0;
    font-size: 0;
    right: 1px !important;
    margin-top: -20px;
    height: 35px;
    width: 35px;
    background-color: #eeedf0;
}
.slide .owl-nav .owl-next:before{
	content: '\f105';
	font-family: FontAwesome;
	position: absolute;
	font-size: 20px;
    font-size: 23.5px;
    color: #fff;
    right: 34%;
}


.grid .owl-nav .owl-prev{
    position: absolute;
    top: 35%;
    left: -10px !important;
    font-size: 20px;
    height: 35px;
    width: 35px;
    background-color: #333333;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    text-align: center;
}
.grid .owl-nav .owl-prev:before{
	content: '\f104';
	font-family: FontAwesome;
	position: absolute;
	font-size: 20px;
    font-size: 23.5px;
    color: #fff;
    left: 34%;
}
.grid .owl-nav .owl-next{
    position: absolute;
    top: 35%;
    font-size: 20px;
    right: -10px !important;
    height: 35px;
    width: 35px;
    background-color: #333333;
    text-align: center;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.grid .owl-nav .owl-next:before{
	content: '\f105';
	font-family: FontAwesome;
	position: absolute;
	font-size: 20px;
    font-size: 23.5px;
    color: #fff;
    right: 34%;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.grid .owl-nav a{
	font-size: 14px;
	display: inline-block;
	margin-top: 9px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	background-color: #333333;
	opacity: 0;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.grid .owl-nav .owl-next:hover, .grid .owl-nav .owl-prev:hover{
	width: 80px;
}
.grid .owl-nav .owl-next:hover:before{
	right: 10%;
}
.grid .owl-nav .owl-next:hover a,.grid .owl-nav .owl-prev:hover a{
	opacity: 1;
}
.grid .owl-nav .owl-prev:hover:before{
	left: 10%;
}
